.wcuhead {
    border-bottom: 5px solid #a64dff;
    width:300px;
    font-size: x-small;
    
}
.placementsSection {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #e6e6ff;
}
.palcementpara {
    color: #9494b8;
    text-align: start;
    margin-top: 0;
}
.placememthead {
    color: #000000;
    text-align: start;
    margin-bottom: 0;
    margin-top: 0;
}
.paraContainerPlacememt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}